<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>ExchangeRate</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <filter>
    <display-name>CurrencyFilter</display-name>
    <filter-name>CurrencyFilter</filter-name>
    <filter-class>kettlebell.controller.CurrencyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CurrencyFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>CurrencyServlet</display-name>
    <servlet-name>CurrencyServlet</servlet-name>
    <servlet-class>kettlebell.controller.currency.CurrencyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrencyServlet</servlet-name>
    <url-pattern>/currency/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CurrenciesServlet</display-name>
    <servlet-name>CurrenciesServlet</servlet-name>
    <servlet-class>kettlebell.controller.currency.CurrenciesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrenciesServlet</servlet-name>
    <url-pattern>/currencies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExchangeRateServlet</display-name>
    <servlet-name>ExchangeRateServlet</servlet-name>
    <servlet-class>kettlebell.controller.exchange.ExchangeRateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExchangeRateServlet</servlet-name>
    <url-pattern>/exchangeRate/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExchangeRatesServlet</display-name>
    <servlet-name>ExchangeRatesServlet</servlet-name>
    <servlet-class>kettlebell.controller.exchange.ExchangeRatesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExchangeRatesServlet</servlet-name>
    <url-pattern>/exchangeRates</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExchangeServlet</display-name>
    <servlet-name>ExchangeServlet</servlet-name>
    <servlet-class>kettlebell.controller.exchange.ExchangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExchangeServlet</servlet-name>
    <url-pattern>/exchange</url-pattern>
  </servlet-mapping>
 
</web-app>